<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finantsarvestuse eksam</title>
    <meta name="description" content="Finantsarvestuse eksami harjutus- ja eksamikeskkond.">
    <link rel="stylesheet" href="css/exam.css">
  </head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
